body{
	background:#eeeee3;
}
.w1000{
	width:92%;
	margin:auto;
}
.content{
	padding-top:3.77rem;
}
.panel-group .panel-heading{
	padding:0;
}
.panel-group .panel-heading .tit{
	font-size: 1.07rem;
	line-height: 1.49rem;
	font-family: "PingFang-SC-Semibold";
	color: #63636A;
	padding:1.71rem 0 1.71rem 0.8rem;
	background-color: #fff;
}
.panel{
	border:none;
	border-radius: 0;
}
.panel-group .panel{
	border-radius: 0;
}
.panel-group .panel+.panel{
	margin-top: 0;
}
.panel-title{
	background: #fff;
}
.panel-title>a{
	display: inline-block;
	padding:0.83rem 0 0.64rem 0.8rem;
}
.panel-title>a img{
	margin-top:-0.16rem;
	width:3.47vw;
	height:3.47vw;
}
.panel-title>a>span{
	margin-left: 0.19rem;
	color:#63636a;
	font-size: 0.85rem;
	line-height: 1.2rem;
	font-family: "PingFang-SC-Semibold";
}
.panel-title>a:hover{
	text-decoration: none;
	color:#63636a;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border:none;
}
.panel-body{
	padding:0;
}
.panel-body ul{
	margin:0;
}
.panel-body ul{
	background-color:#f4f3f9;
}
.panel-body ul li a{
	display: inline-block;
	text-decoration: none;
	font-size: 0.8rem;
	font-family: "PingFang-SC-Regular";
	color:#63636a;
	padding:0.69rem 0 0.53rem 2.21rem;
	line-height: 1.12rem;
}
.panel-body ul .end{
	padding-bottom: 0.61rem;
}
@media (min-width:768px){
	body{
		background-color: #f3f3f9;
	}
	.content{
		margin-top:0;
		padding-top: 0;
	}
	.panel-body li:hover{
		background-color: rgba(0,0,0,0.06);
	}
	.panel-group .panel-heading .tit{
		font-size: 2.5rem;
		padding:3.25rem 0 3.25rem 5rem;
		line-height: 3.5rem;
	}
	.panel-title>a{
		text-decoration: none;
		padding:2.17rem 0 2.17rem 1.83rem;
	}
	.panel-title>a>span{
		font-size: 1.67rem;
		margin-left:1.33rem;
	}
	.panel-title>a>img{
		width:1.33rem;
		height:1.33rem;
		line-height: 2.33rem;
	}
	.panel-body ul li a{
		font-size: 1.5rem;
		line-height: 2.08rem;
		padding:1.08rem 0 1rem 5rem;
	}
	.panel-body ul .end{
		padding-bottom: 1.67rem;
	}
}